body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 40px;
    height: 100px;
}

.logo {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    align-self: flex-start;
    margin-top: 27px;
}

nav.nav-list {
    align-self: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* Promenjeno u row */
}

nav ul li {
    margin-left: 10px;
    /* Promenjeno u left */
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: calc(100% - 14cm);
    /* Dodato 7cm sa obe strane */
    max-width: 800px;
}

.about-me-text,
.about-me-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-me-text {
    border-right: 1px solid #ccc;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.card {
    width: 300px;
    margin: 20px auto;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card+.card {
    border-top: 3px solid #ccc;
}

.card img {
    width: 100%;
    height: auto;
}

.container {
    padding: 20px;
}

.container h4 {
    text-align: center;
}

.container p {
    text-align: center;
}

.container a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.container a:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    color: #bbb;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
}